*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

.main-container{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

.screen{
    width: 100%;
    height: 20%;
    padding: 0 2%;
    display: flex;
    justify-content: center;
}

.screen > #displayAnswer{
    height: 100%;
    width: 80%;
    padding-bottom: 2%;
    border: none;
    outline: none; 
    text-align: right;
    font-size: 25px;
    font-family: 'Poppins','Montserrat','Open Sans',sans-serif;
    background: transparent;

}

.screen > #displayNumber{
    height: 100%;
    width: 80%;
    border: none;
    padding-top: 5%;
    padding-bottom: 1%;
    outline: none;
    text-align: right;
    font-size: 25px;
    font-family: 'Open Sans','Poppins','Montserrat',sans-serif;
    box-shadow: none;
}
.buttons{
    padding: 5px 15px;
    width: 100%;
}
button{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    font-family:'Montserrat', 'Open Sans',sans-serif; ;
    color: white;
    border-radius: 50%;
    font-size: 30px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: #130f40;
    cursor: pointer;
    margin:10px;
    
}
button:hover{
    transform: scale(1.1);
    transition: all .5s;
}

.zero{
    width: 143px;
    border-radius: 30px;
    border: 0;
    outline: 0;
}


.btn-right{
    color: white;
    background-color: #f0932b;
}
.btn-special{
    color: black;
    background-color: #7f8fa6;
}

.btn1 button .icon{
    font-size: 25px;
}